@{
    ViewData["Title"] = "Description";
}
    <html>
    <body>
        <div class="text-center">
            <h1 class="display-4">Description</h1>
            <h1>Experince in software Engineering/Software Technology</h1>


            <p></p>
        </div>
        <p>
            My name is Aleksander and I am currently studying my diploma bachelor in Software Technology on University of Southern Denmark (SDU).
            During my time on the university I have taken several courses and have been part of few semester projects. This education
            is however not my first one, I am educated IT-Supporter from College of Southern Denmark, where I have learned allot in regards of
            computers and technology. I have worked at SDU, IT-Service, as an IT-Supporttranee for 2 years, where my practical experince improved.
            Especially how it feels to be out on the work market and see how things are done besides what books are telling.
            <br />
            During that time I have got a better knowlegde in regards to the technological perspective. <br /><br /><b>My experince in technological tools, computers and programming:</b>
            <ul>
                <text><b>From my IT-Support education</b></text>
                <li>
                    VMWare, Windows 7 / 10, Windows Server 2008 / 2019, mySQL database, Network (CCNA EXploration: Network Fundamentals), Buidling/Maintaining and repearing computers
                    , Tera Term
                </li>
                <li>
                    Programming fundamentals in PHP, HTML, CSS and fundamental database mangement in mySQL
                </li>
                <text><br /><b>From my current education as Software Technology Engineer</b></text>

                <li>
                    Programming experince at a middel niveau in Java, phyton, C#, SQL, but open to learning and getting better.
                </li>
                <li>
                    Software design in UML, Agile methodlogy, Scrum, Github (Version-control), Object orientated programming principles, 
                    Unified Process. 
                </li>
                <li>
                    Database management (Relational databases), PostGreSQL database
                </li>
                <li>
                    SCADA, MES, ERP
                </li>
                <li>
                    <text><a href="https://github.com/aleksander-GD" target="_blank">My github</a></text>
                </li>
            </ul>
        </p>
    </body>
    </html>