@{
    ViewData["Title"] = "Index";
}

<html>
    <body>
        <h1>Welcome to Aleksander's portfolio</h1>
        <h4>You can choose (Click on the following) to read my description or my experince below</h4>
        <ul>
            <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Description">Description, general programming experince</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Experince">Experince, list of courses taken during my bachelor study</a>
        </ul>
    </body>
</html>
